<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Landing Page - Booktique </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    {{!--
    <script src="js/main.js"></script> --}}

</head>

<body>

    {{!-- <div class="header-container">
        <div class="header-content">
            <p class="title is-1">Booktique</p>
            <p class="subtitle is-3">Explore the world of books and dive into the magic of reading.</p>
        </div>
    </div> --}}
    {{!-- <header>
        <h1>Booktique</h1>
        <p>Explore the world of books and dive into the magic of reading.</p>
    </header> --}}
    <!-- Navbar -->

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <p class="title is-1">Booktique</p>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        {{!-- <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand"> </div> --}}
            <div id="navbarMain" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/"> Home </a>
                    <a class="navbar-item" href="/toppicks">Top Picks</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link"> Browse</a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/searchtype?type=fiction">
                                Fiction
                            </a>
                            <a class="navbar-item" href="/searchtype?type=thriller">
                                Thriller
                            </a>
                            <a class="navbar-item" href="/searchtype?type=romance">
                                Romance
                            </a>
                            <a class="navbar-item" href="/searchtype?type=fantasy">
                                Fantasy
                            </a>
                            <a class="navbar-item" href="/searchtype?type=Biography">
                                Biography
                            </a>
                            <a class="navbar-item" href="/searchtype?type=horror">
                                Horror
                            </a>
                            <a class="navbar-item" href="/searchtype?type=drama">
                                Drama
                            </a>
                            <a class="navbar-item" href="/searchtype?type=comedy">
                                Comedy
                            </a>
                            <a class="navbar-item" href="/searchtype?type=philosophy">
                                Philosophy
                            </a>
                            <a class="navbar-item" href="/searchtype?type=travel">
                                Travel
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item search-item">
                        <div class="field has-addons">
                            <div class="control has-icons-left is-expanded">
                                <input class="input" type="text" placeholder="Search Book/Author" id="searchbook">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <div class="buttons">
                            {{#if loggedIn}}
                            <a class="link" href="/profilesettings">
                                <strong>Profile Settings</strong>
                            </a>

                            {{#unless dontShowReviewNavItem}}
                            <a class="link" href="/reviews">
                                Your Reviews
                            </a>
                            {{/unless}}
                            <a class="link" href="/logout" id="logout">Logout</a>
                            {{else}}
                            <a href="/signup" class="button is-light">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="/login">Login</a>

                            {{/if}}

                        </div>
                    </div>
                </div>

                {{!-- <div class="buttons">
                    <button onclick="goBackToHome()">
                        <i class="fas fa-arrow-left"></i>
                    </button> --}}
                </div>

        </nav>
        <article class="message" id="loginmsg" style="display: none;">
            <div class="message-header">
                <p>Logged in Succesfully!</p>
            </div>
        </article>


        <article class="message" id="logoutmsg" style="display: none;">
            <div class="message-header">
                <p>Logged Out Succesfully!</p>
            </div>
        </article>

        <main>
     
                 </main>

        {{#if loggedIn}}
        <script src="js/logout.js"></script>
        {{/if}}
        
        {{{ body }}}
        
        <script src="js/search.js"></script>
</body>
</html>