<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Landing Page - Booktique </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="js/main.js"></script>
</head>

<body>

    <div class="logo">
        BOOKTIQUE
    </div>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarMain" class="navbar-menu">

            <div class="navbar-start">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/toppicks">Top Picks</a>
                <nav class="navbar" role="navigation" aria-label="dropdown navigation">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Browse
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/searchtype?type=fiction">
                                Fiction
                            </a>
                            <a class="navbar-item" href="/searchtype?type=thriller">
                                Thriller
                            </a>
                            <a class="navbar-item" href="/searchtype?type=romance">
                                Romance
                            </a>
                            <a class="navbar-item" href="/searchtype?type=fantasy">
                                Fantasy
                            </a>
                            <a class="navbar-item" href="/searchtype?type=Biography">
                                Biography
                            </a>
                            <a class="navbar-item" href="/searchtype?type=horror">
                                Horror
                            </a>
                            <a class="navbar-item" href="/searchtype?type=drama">
                                Drama
                            </a>
                            <a class="navbar-item" href="/searchtype?type=comedy">
                                Comedy
                            </a>
                            <a class="navbar-item" href="/searchtype?type=philosophy">
                                Philosophy
                            </a>
                            <a class="navbar-item" href="/searchtype?type=travel">
                                Travel
                            </a>
                        </div>
                    </div>
                </nav>

                <a class="navbar-item search-item">
                    <div class="field has-addons">
                        <div class="control has-icons-left is-expanded">
                            <input class="input" type="text" placeholder="Search for Book/Author" id="searchbook">
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {{#if loggedIn}}
                        <a class="link" href="/profilesettings">
                            <strong>Profile Settings</strong>
                        </a>

                        {{#unless dontShowReviewNavItem}}
                        <a class="link" href="/reviews">
                            Your Reviews
                        </a>
                        {{/unless}}
                        <a class="link" href="/logout" id="logout">Logout</a>
                        {{else}}
                        <a href="/signup" class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/login">Login</a>

                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </nav>


    <article class="message" id="loginmsg" style="display: none;">
        <div class="message-header">
            <p>Logged in Succesfully!</p>
        </div>
    </article>


    <article class="message" id="logoutmsg" style="display: none;">
        <div class="message-header">
            <p>Logged Out Succesfully!</p>
        </div>
    </article>

    <main>
        {{{ body }}}
    </main>

    {{#if loggedIn}}
    <script src="js/logout.js"></script>
    {{/if}}
    
     <script src="js/search.js"></script>
</body>
</html>