    <section class="browse-books">
        <div class="container">
            <h1 class="title">Book Reviews</h1>

            <div id="bookList">
                <!-- Book list will be dynamically generated here -->
            </div>
        </div>
    </section>

    <section class="user-reviews">
        <!-- Add your user reviews content here -->
    </section>

    <script src="script.js"></script>
    <script src="/js/bookreview.js"></script>
