


{{!-- Check if review exists --}}
<form id="edit-profile-form">
    {{#if user}}
    <section>
        <h2>Profile Setting</h2>

        <input type="hidden" name="userId" value="{{user.id}}">
        <div class="card">
            <div class="card-content">

                <label for="name" class="form-label">Pen Name</label>
                <textarea id="name" name="userName">{{user.name}}</textarea><br>

                <label for="name" class="form-label">Email</label>
                <textarea id="email" name="userEmail">{{user.email}}</textarea><br>

                <label for="name" class="form-label">Password</label>
                <textarea id="password" placeholder="Enter new password" name="userPassword"></textarea>

                <div class="card">
                    <footer class="card-footer">
                        <button type="submit" class="card-footer-item">Save</button>
                    </footer>
                </div>
                
            </div>

        </div>

    </section>
    {{else}}
    <p>User details not found.</p>
    {{/if}}
</form>
<script src="/js/edituser.js"></script>