<div class="fullscreen-container">
 {{!-- <div class="hero">
    <div class="hero-content">
     <p>Explore the world of books and dive into the magic of reading.</p>
    </div>
  </div> --}}
   {{!-- <img src="https://images.unsplash.com/photo-1558901357-ca41e027e43a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2139&q=80" alt="Background Image" class="fullscreen-image"> --}}
    <section class="bg-secondary py-5">
    <div class="container">
     <h2 class="centered-text">"The more that you read, the more things you will know. The more that you learn, the more places you'll go." - Dr. Seuss</h2>
   </div>
  </section>
  </div>
  
