<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to Booktique
      </h1>
      <span></span>
      <h2 class="subtitle">
         "The more that you read, the more things you will know. The more that you learn, the more places you'll go." - Dr. Seuss
      </h2>
    </div>
  </div>
