<div class="fullscreen-container">
  <img src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg?w=1380&t=st=1688812487~exp=1688813087~hmac=2c14c10a8641a6eaa689258cd2c535c7dd059f6bb5319c0313a93584134c9d56" alt="Background Image" class="fullscreen-image">
  <section class="bg-secondary py-5">
    <div class="container">
      <h2>The more that you read, the more things you will know. The more that you learn, the more places you'll go." - Dr. Seuss</h2>
    </div>
  </section>
</div>
