      {{!-- <section>
      <article>
         <div><h2>The more that you read, the more things you will know. The more that you learn, the more places you'll go." - Dr. Seuss</h2> 
         
         </div>
      </article>
      </section> --}}

 <section class="container">
  <h3 class="gallery-name">{{gallery.name}}</h3>
  <h2>The more that you read, the more things you will know. The more that you learn, the more places you'll go." - Dr. Seuss</h2>
  <section class="flex-row justify-center">
    {{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}}
  </section>
</section>
    