<div id="addreviewmain">
     <form class="card-body new-review-form" id="new-review-form">

 
<h2 class="subtitle">Create Review:</h2>

        <textarea id="reviewscore" class="textarea" placeholder="Provide Review.."></textarea>
        <button type="submit" class="button is-link" id="submitaddreview">Create Review</button>

     </form>
</div>

<script src="/js/addreview.js"></script>