<div class="fullscreen-container">
  {{#if user}}
  <section>
    <div class="card">
      <h2 class="card-header-title">Profile Settings</h2>
      <div class="card-content">
        <form id="profile-settings-form">
          <div class="field">
            <label class="label">Pen Name</label>
            <div class="control">
              <input id="pen-name" class="input" type="text" value="{{user.name}}">
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input id="email" class="input" type="email" value="{{user.email}}">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Update</button>
            </div>
          </div>
        </form>
      </div>
      <footer class="card-footer">
        <a href="/reviews" class="card-footer-item" id="view-reviews">View my reviews</a>
      </footer>
    </div>
  </section>
  {{else}}
  <p>User Details Not Found.</p>
  {{/if}}
</div>
