{{#if searchResults}}
  <div id="searchResults">
    {{#each searchResults}}
      {{#if @index % 10 === 0}}
        {{#if @index > 0}}
          </div>
        {{/if}}
        <div class="search-item-group">
      {{/if}}
      <div class="search-item">
        <img src="{{this.imageLink}}" alt="{{this.title}}">
        <h3>{{this.title}}</h3>
        <p>{{this.author}}</p>
      </div>
      {{#if @index === searchResults.length - 1}}
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}
