
<div id="searchResultsContainer"></div>

{{#if searchResults}}
  <div id="searchResults">
    {{#each searchResults}}
      <div class="search-item">
        <h3>{{this.title}}</h3>
        <p>{{this.author}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>No results found.</p>
{{/if}}

<script src="../public/js/searchresults.js"></script>
