<div class="fullscreen-container">
  <form id="signup-form" class="card-body">

    <div class="field">
      <label class="label">Pen Name</label>
      <div class="control has-icons-left has-icons-right">
        <input id="username-signup" class="input" type="text">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input id="email-signup" class="input" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input id="password-signup" class="input" type="password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i> <!-- Changed to lock icon -->
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-light is-fullwidth">Signup</button> <!-- Changed button color and added full-width class -->
      </div>
    </div>

  </form>
  <h2 id="signupmessage"></h2>
</div>
<script src="/js/signup.js"></script>
