body {
  background-image: url("https://images.unsplash.com/photo-1558901357-ca41e027e43a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2139&q=80");
  background-color: #f0decd;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family:Georgia, 'Times New Roman', Times, serif;
body {
  background-image: url("https://images.unsplash.com/photo-1558901357-ca41e027e43a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2139&q=80");
  background-color: #f0decd;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
} */

header {
  background-image: url("C:\Users\meera\Desktop\Assignments\Booktique\Booktique\public\Images\booktique.png");
  font-family:Georgia, 'Times New Roman', Times, serif;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  color: #111111;
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
} */

header {
  background-image: url("C:\Users\meera\Desktop\Assignments\Booktique\Booktique\public\Images\booktique.png");
  font-family:Georgia, 'Times New Roman', Times, serif;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: #f0decd;
  color: #111111;
.header-container {
  background-color: rgba(243, 183, 134, 0.836);
      text-align: center;
      padding: 10px;
}

h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 200%;
.header-content {
      color: rgba(0, 0, 0, 1);
}

h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 2% 0;
  font-size: 250%;

h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 200%;
}

h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 2% 0;
  font-size: 250%;
}

.navbar {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(209, 161, 122, 0.836);
 }

.navbar a {
  color: #111111;
  padding: 5px;
}

.navbar-item:hover,
    .navbar-dropdown a.navbar-item:hover {
        color: black;
    }


.navbar .navbar-item {
  margin-right: 10px;
  font-size: 16px;
}

.navbar .navbar-dropdown {
  background-color: #f0decd;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
.navbar .navbar-dropdown a {
  padding: 5px 10px;
}

.navbar .navbar-item:hover .navbar-dropdown {
  display: block;
}

main {
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: flex;
  padding-right: 5%;
  flex: none;
  max-width: 1200px;
  margin: 2% auto;
}
.card {
  font-family:Georgia, 'Times New Roman', Times, serif;
  display:flex;
  background-color: rgba(209, 161, 122, 0.836);
  color:#111111;
  height: 100%;
} 

.columns is-multiline {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

section {
  padding: 5px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  gap: 40px; /* Adjust the value as needed */
} 

article {
  border-bottom: 1px solid #111111;
}

article p {
  margin: 2% 0;
  font-size: 110%;
}

article ul {
  margin-left: 5%;
  font-size: 110%;
  list-style: circle;
  color: #111111;
}

aside {
  width: 25%;
}

aside h2 {
  font-size: 150%;
}

input,
button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
  background-color: #f0decd;
  color: white;
}

footer {
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #f0decd;
}

.fullscreen-container {
  
  position: relative;
  height: 100vh;
}

.fullscreen-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-secondary {
  color: #d889489c;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.centered-text {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container {
  font-family:Georgia, 'Times New Roman', Times, serif;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}
#login-form {
  background-color: #f0decd;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
}
#signup-form {
  background-color: #f0decd;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .form-container {
    max-width: 100%;
  }
}