.body {
  background-color: #f0decd;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
} */

header {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: #f0decd;
  color: #7c7575;
}

h1 {
  font-size: 200%;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}

.navbar {
  background-color: #f0decd;
  padding: 10px;
}

.navbar a {
  color: #7c7575;
  padding: 5px;
}

.navbar-item:hover,
    .navbar-dropdown a.navbar-item:hover {
        color: black;
    }


.navbar .navbar-item {
  margin-right: 10px;
  font-size: 16px;
}

.navbar .navbar-dropdown {
  background-color: #f0decd;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.navbar .navbar-dropdown a {
  padding: 5px 10px;
}

.navbar .navbar-item:hover .navbar-dropdown {
  display: block;
}

main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}

section {
  flex: 1 1 0;
  padding-right: 5%;
}

article {
  border-bottom: 1px solid #7c7575;
}

article p {
  margin: 2% 0;
  font-size: 110%;
}

article ul {
  margin-left: 5%;
  font-size: 110%;
  list-style: circle;
  color: #7c7575;
}

aside {
  width: 25%;
}

aside h2 {
  font-size: 150%;
}

input,
button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
  background-color: black;
  color: white;
}

button.black-button {
  background-color: black;
  color: white;
}

button.black-button:hover {
  background-color: #333;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #f0decd;
}

.fullscreen-container {
  position: relative;
  height: 100vh;
}

.fullscreen-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-secondary {
  background-color: #f1f1f1;
  color: #333;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}
